<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Siddh/IdeaProjects/Selenium_Projects_New/src/test/java/CAWSStudioAssignment/DynamicHTMLTableTagTest.java">
        <classes>
            <class name="CAWSStudioAssignment.DynamicHTMLTableTagTest">
                <methods><include name="testDynamicHTMLTableData"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>